* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input,
textarea {
  font-family: Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

input,
textarea {
  outline: none;
}

textarea {
  resize: none;
}

fieldset {
  border: none;
}
