.carousel-viewport {
  overflow: hidden;
  width: 100%;
  background: #f4f4f4;
  padding: 20px 0;
  position: relative;
}

.carousel-track {
  display: flex;
  width: max-content;
  animation: scroll 40s linear infinite;
  cursor: pointer;
}

.carousel-track:hover {
  animation-play-state: paused;
}

.task-card {
  flex: 0 0 300px;
  margin: 0 15px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.task-card:hover {
  transform: translateY(-5px);
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-33.33%));
  }
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-header > .actions > button {
  width: 20px;
  display: flex;
  align-items: center;
}

.status-tag {
  margin-top: 10px;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}
.done {
  background: #dcfce7;
  color: #166534;
}
.pending {
  background: #fee2e2;
  color: #991b1b;
}
